<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{product.name}}</title>
</head>
<body>
    <h1>Products</h1>
        {% for product in products %}
    <div>
       <a href="{% url 'product_detail' product_id=product.id %}">
         <h3>{{product.name}}</h3></a>>
        <h4>{{product.price}}KD</h4>
    </div>
        {% endfor %}
</body>
</html>